[package]
name = "oc-rsync-core"
version.workspace = true
edition = "2024"
authors = ["Ofer Chen <skewers.irises.3b@icloud.com>"]
license = "GPL-3.0-or-later"
description = "Core utilities shared by the Rust rsync implementation"
repository.workspace = true
build = "build.rs"

[package.metadata.docs.rs]
all-features = true
no-default-features = false
rustdoc-args = ["--cfg", "docsrs", "-D", "rustdoc::broken_intra_doc_links"]
targets = ["x86_64-unknown-linux-gnu"]

[dependencies]
oc-rsync-protocol = { path = "../protocol" }
oc-rsync-meta = { path = "../meta", default-features = false }
oc-rsync-engine = { path = "../engine", default-features = false }
oc-rsync-bandwidth = { path = "../bandwidth" }
oc-rsync-transport = { path = "../transport" }
oc-rsync-filters = { path = "../filters" }
oc-rsync-compress = { path = "../compress" }
libc = "0.2"
nix = { version = "0.29", default-features = false, features = ["user"] }
rustix = { version = "0.38", features = ["process"] }
base64 = "0.22"
oc-rsync-checksums = { path = "../checksums" }
tempfile = "3.10"
socket2 = "0.4"
serde = { version = "1", features = ["derive"] }
serde_json = "1"

[features]
default = ["zstd", "lz4", "acl", "xattr", "iconv"]
acl = ["oc-rsync-meta/acl", "oc-rsync-engine/acl"]
xattr = ["oc-rsync-meta/xattr", "oc-rsync-engine/xattr"]
zstd = ["oc-rsync-engine/zstd", "oc-rsync-compress/zstd"]
lz4 = ["oc-rsync-engine/lz4", "oc-rsync-compress/lz4"]
iconv = []
sd-notify = []

[dev-dependencies]
filetime = "0.2"
tempfile = "3.10"
toml = "0.8"

[build-dependencies]
toml = "0.8"
