[package]
name = "apple-fs"
edition.workspace = true
rust-version.workspace = true
authors.workspace = true
license.workspace = true
version.workspace = true

[dependencies]
libc = "0.2"
nix = { version = "0.29", default-features = false, features = ["fs"] }
