name: cross-compile

on:
  workflow_call:

permissions:
  contents: read

env:
  CARGO_TERM_COLOR: always
  RUSTFLAGS: "-D warnings"
  CARGO_INCREMENTAL: "0"
  RUSTC_WRAPPER: ""

jobs:
  linux:
    uses: ./.github/workflows/build-linux.yml
    secrets: inherit

  macos:
    uses: ./.github/workflows/build-macos.yml
    secrets: inherit

  windows:
    uses: ./.github/workflows/build-windows.yml
    secrets: inherit
