name: interop

on:
  workflow_call:

permissions:
  contents: read

env:
  CARGO_TERM_COLOR: always
  RUSTFLAGS: "-D warnings"
  CARGO_INCREMENTAL: "0"

jobs:
  interop:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install build dependencies
        uses: awalsh128/cache-apt-pkgs-action@v1
        with:
          packages: build-essential pkg-config zlib1g-dev curl autoconf automake libtool
          version: 1

      - name: Setup Rust toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Run interoperability tests
        run: tools/ci/run_interop.sh || true
