name: Release-artifacts

on:
  release:
    types: [published]

permissions:
  contents: write

jobs:
  gather-and-upload:
    runs-on: ubuntu-latest
    steps:
      - name: Download all artifacts
        uses: actions/download-artifact@v4
        with:
          path: dist

      - name: List artifacts
        run: ls -R dist

      - name: Upload to release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            dist/**/*.tar.gz
            dist/**/*.deb
            dist/**/*.rpm
        env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
