name: Super-Linter
permissions:
  contents: read

on:
  pull_request:
    branches: [ master, main ]
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5.0.0
        with:
          fetch-depth: 0
      - name: Super-Linter
        uses: super-linter/super-linter@v8.2.1
        env:
          DEFAULT_BRANCH: master
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
